.week-cell {
  position: relative;
  display: flex;
  width: 10px;  /* Corrected to match the last declaration */
  height: 10px;
  border-radius: 3px;
  background-color: black;
}

.grid-container {
  display: grid;
  gap: 7px;
}
.week-cell.early_years {
  background-color: #00D0FF;
  border: 2px solid #00D0FF;
}
.week-cell.elementary_years {
  background-color: rgb(73, 233, 166);
  border: 2px solid rgb(73, 233, 166);
}
.week-cell.middle_school_years {
  background-color: rgb(232, 255, 0);
  border: 2px solid rgb(232, 255, 0);
}
.week-cell.high_school_years {
  background-color: rgb(255, 152, 0);
  border: 2px solid rgb(255, 152, 0);
}
.week-cell.college_years {
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}
.week-cell.career_years {
  background-color: rgb(103, 58, 183);
  border: 2px solid rgb(103, 58, 183);
}
.week-cell.retirement_years {
  background-color: rgb(255, 0, 255);
  border: 2px solid rgb(255, 0, 255);
}

.week-cell.current_week {
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: 0 0 5px #fe2cd4, 0 0 10px #fe2cd4, 0 0 20px #fe2cd4, 0 0 30px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4;
  z-index: 10
}