/* Define CSS variables */
:root {
  --cell-size: 8px;
  --icon-size: calc(var(--cell-size) - 2px);
}

/* General styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #031417; */
  background-color: #000000;
  color: #fff;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  padding-bottom: 150px;
}

#app {
  text-align: center;
  padding: 0;
}
/* Grid container wrapper */
.grid-container-wrapper {
  display: grid;
  font-size: 6px;
  margin: 20px;
}

/* Style for week and year headers */
.week-header {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  grid-column: 2 / span 52; /* Span all columns starting from the second column */
}

/* Week and year numbers */
.week-number {
  text-align: center; /* Centers the text horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-number {
  text-align: center;
  padding: 2px;
  margin: 1px;
  grid-column: 1;
}

/* Style for the grid container that holds the week cells */
.grid-container {
  display: grid;
  gap: 3px;
  grid-template-columns: auto repeat(52, auto); /* Include extra column for year numbers */
  grid-template-rows: auto auto repeat(120, auto); /* Include extra rows for "Weeks" header and week numbers */
  justify-content: center;
}

/* Base style for each week cell */
.week-cell {
  position: relative;
  display: flex;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 2px;
  background-color: black;
}

/* Styles for different stages of life */
.week-cell.early_years {
  background-color: #00D0FF;
  border: 1px solid #00D0FF;
}

.week-cell.elementary_years {
  background-color: rgb(73, 233, 166);
  border: 1px solid rgb(73, 233, 166);
}

.week-cell.middle_school_years {
  background-color: rgb(232, 255, 0);
  border: 1px solid rgb(232, 255, 0);
}

.week-cell.high_school_years {
  background-color: rgb(255, 152, 0);
  border: 1px solid rgb(255, 152, 0);
}

.week-cell.college_years {
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.week-cell.career_years {
  background-color: rgb(103, 58, 183);
  border: 1px solid rgb(103, 58, 183);
}

.week-cell.retirement_years {
  background-color: rgb(255, 0, 255);
  border: 1px solid rgb(255, 0, 255);
}

/* Style for the current week cell */
.week-cell.current_week {
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: 0 0 5px #fe2cd4, 0 0 10px #fe2cd4, 0 0 20px #fe2cd4, 0 0 30px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4;
  z-index: 10;
}

.tooltip-container {
  position: absolute;
  z-index: 20;
  top: 100%; /* Position the container just below the cell */
  left: 50%;
  transform: translateX(-50%);
}

.tooltip {
  background-color: #940c3a;
  color: #fff;
  padding: 5px; /* Reduce padding to make it more square */
  font-weight: 700;
  border-radius: 6px; /* Adjust border-radius for rounded corners */
  position: relative; /* Change to relative to position the triangle correctly */
  box-shadow: 0 2px #000;
  text-shadow: #000 0 2px;
  min-width: max-content;
  opacity: 0.8;
  z-index: 30;
  margin-top: 4px; /* Space between the triangle and the tooltip bubble */
  font-size: 10px; /* Adjust the font size as needed */
}

.tooltip:before {
  content: "";
  position: absolute;
  top: 0; /* Position the triangle at the top of the tooltip */
  left: 50%;
  transform: translateX(-50%) translateY(-100%); /* Move the triangle up above the tooltip */
  border-width: 0 4px 4px 4px; /* Adjust the width to make the triangle smaller and narrower */
  border-style: solid; /* Ensures that the borders are solid lines */
  border-color: transparent transparent #940c3a transparent; /* Bottom border is the tooltip color, other borders are transparent */
}

/* Responsive adjustments */
@media (max-width: 700px) {
  .week-number-container {
    display: none;
  }

  .week-cell {
    width: 5px;
    height: 5px;
  }
}

.week-cell.current_week {
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: 0 0 5px #fe2cd4, 0 0 10px #fe2cd4, 0 0 20px #fe2cd4, 0 0 30px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4, 0 0 40px #fe2cd4;
  z-index: 10;
}

/* Additional styles for the gray color scheme */
.week-cell.early_years_gray {
  background-color: #F8F9FA;
  border: 1px solid #F8F9FA;
}

.week-cell.elementary_years_gray {
  background-color: #DEE2E6;
  border: 1px solid #DEE2E6;
}

.week-cell.middle_school_years_gray {
  background-color: #ADB5BD;
  border: 1px solid #ADB5BD;
}

.week-cell.high_school_years_gray {
  background-color: #495057;
  border: 1px solid #495057;
}

.week-cell.college_years_gray {
  background-color: #6C757D;
  border: 1px solid #6C757D;
}

.week-cell.career_years_gray {
  background-color: #343A40;
  border: 1px solid #343A40;
}

.week-cell.retirement_years_gray {
  background-color: #495057;
  border: 1px solid #495057;
}

.week-cell.current_week_gray {
  background-color: #6C757D !important;
  border-color: #6C757D !important;
  box-shadow: 0 0 5px #ADB5BD, 0 0 10px #ADB5BD, 0 0 20px #ADB5BD, 0 0 30px #ADB5BD, 0 0 40px #ADB5BD, 0 0 40px #ADB5BD, 0 0 40px #ADB5BD, 0 0 40px #ADB5BD;
  z-index: 10;
}

/* Additional styles for the green color scheme */
.week-cell.early_years_green {
  background-color: #DAD7CD;
  border: 1px solid #DAD7CD;
}

.week-cell.elementary_years_green {
  background-color: #A3B18A;
  border: 1px solid #A3B18A;
}

.week-cell.middle_school_years_green {
  background-color: #588157;
  border: 1px solid #588157;
}

.week-cell.high_school_years_green {
  background-color: #3A5A40;
  border: 1px solid #3A5A40;
}

.week-cell.college_years_green {
  background-color: #344E41;
  border: 1px solid #344E41;
}

.week-cell.career_years_green {
  background-color: #344E41;
  border: 1px solid #344E41;
}

.week-cell.retirement_years_green {
  background-color: #344E41;
  border: 1px solid #344E41;
}

.week-cell.current_week_green {
  background-color: #344E41 !important;
  border-color: #344E41 !important;
  box-shadow: 0 0 5px #344E41, 0 0 10px #344E41, 0 0 20px #344E41, 0 0 30px #344E41, 0 0 40px #344E41, 0 0 40px #344E41, 0 0 40px #344E41, 0 0 40px #344E41;
  z-index: 10;
}

/* Additional styles for the neutral color scheme */
.week-cell.early_years_neutral {
  background-color: #D5BDAF;
  border: 1px solid #D5BDAF;
}

.week-cell.elementary_years_neutral {
  background-color: #E3D5CA;
  border: 1px solid #E3D5CA;
}

.week-cell.middle_school_years_neutral {
  background-color: #F5EBE0;
  border: 1px solid #F5EBE0;
}

.week-cell.high_school_years_neutral {
  background-color: #D6CCC2;
  border: 1px solid #D6CCC2;
}

.week-cell.college_years_neutral {
  background-color: #EDEDE9;
  border: 1px solid #EDEDE9;
}

.week-cell.career_years_neutral {
  background-color: #EDEDE9;
  border: 1px solid #EDEDE9;
}

.week-cell.retirement_years_neutral {
  background-color: #EDEDE9;
  border: 1px solid #EDEDE9;
}

.week-cell.current_week_neutral {
  background-color: #EDEDE9 !important;
  border-color: #EDEDE9 !important;
  box-shadow: 0 0 5px #EDEDE9, 0 0 10px #EDEDE9, 0 0 20px #EDEDE9, 0 0 30px #EDEDE9, 0 0 40px #EDEDE9, 0 0 40px #EDEDE9, 0 0 40px #EDEDE9, 0 0 40px #EDEDE9;
  z-index: 10;
}

/* Icon style */
.icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  top: 0px; /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 20; /* Ensure it is above the cell */
}
